/* CSS Document */
body, header, p, nav, table, img, area, tr, td, main, h1, h2, h3, h4, h5, h6 {
	padding: 0%;
	margin: 0%; 
}
body {
	font-family:  "DejaVu Sans", Verdana, "sans-serif"
}



.fnav a{
			color: rgba(0,120,201,0.75);
			font-weight: bold;
			text-decoration: none;
			padding: 2%;
	text-shadow: -4px 1px 0.5px #fff;
	padding-top: 6%;
			
		}


.fnav a:hover{
				color: rgba(0,120,201,0.99);
	transition: 3%;

}

h1 {
	font-weight: bold;
	padding-bottom: 4%;
	color: rgba(3,14,19,1.00);
	font-size: 3.3em
}

.pink{
	color: rgba(255,92,157,1.00);
	font-weight: bold;
}



































































